<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <section>
  <pre>
  result
  </pre>
  <pre style="color: red">
  err
  </pre>
    <ion-img [src]="imgsrc"></ion-img>
  </section>

  <section>
    <header>Capacitor Plugins Test</header>
    <ion-button expand="full" color="primary" (click)="capacitorGeolocation()">Geolocation</ion-button>
    <ion-button expand="full" color="primary" (click)="capacitorSplashScreen()">SplashScreen</ion-button>
    <ion-button expand="full" color="primary" (click)="capacitorPhotoCamera()">Photo Camera</ion-button>
    <ion-button expand="full" color="primary" (click)="capacitorPhotoGallery()">Photo Gallery</ion-button>
    <ion-button expand="full" color="primary" (click)="capacitorToast()">Toast</ion-button>
  </section>
  <section>
    <header>Cordova Plugins Test</header>
    <ion-button expand="full" color="warning" (click)="cordovaCallNumber()">CallNumber</ion-button>
  </section>
  <section>
    <header>Angular Plugins Test</header>
    <ion-button expand="full" color="secondary" (click)="angularToast()">Toast</ion-button>
    <ion-button expand="full" color="secondary" (click)="angularAlert()">Alert</ion-button>
  </section>
</ion-content>
